@tailwind base;
@tailwind components;
@tailwind utilities;




.carousel3 .slider3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  width: 100%;
  height: 100%;
  /* background: white; */

}

.planet {
  position: absolute;
  
  background-color: transparent;
  background-position: center;
  transform-style: preserve-3d;
}
.planet:hover{
  transform: none;
  filter: blur(0px) !important;
  cursor: pointer;
}
.sun{
 background-size: 30vmax auto;

}


