@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

html{
  scroll-behavior: smooth
}

@layer utilities {
  .nav-item {
    @apply transition-all ease-in-out duration-300;
  }
  .nav-item:hover {
      transform: scale(1.2);
      color: #ec4899; /* This is Tailwind's pink-500 */
  }
  .maxWidthForSections{
    @apply xl:max-w-[1280px] mx-auto
  }
  .iconBoxes{
    @apply bg-white/65 backdrop-blur-sm rounded-md p-2 cursor-pointer transition-all text-darkBlue
  }
  .iconBoxes:hover{
    @apply bg-white/90 
  }
  .iconsFooter{
    @apply size-7 
  }
  .listFooter{
    @apply grid grid-cols-[50px_1fr] gap-6
  }
  .listHead{
    @apply text-white font-medium text-lg
  }
  .listPara{
    @apply text-white/80 font-thin
  }
  .eventLinks{
    @apply text-white/90 cursor-pointer text-lg transition-all
  }
  .eventLinks:hover{
    @apply text-pink-400 scale-[1.05]
  }
}

/* --------------for card animation ---------------- */
.cardContent{
  position: absolute;
  /* backdrop-filter: blur(10px); */
  opacity: 0.7;
  transition: 0.5s;
  transform: translateY(30px);
}
.teamCard:hover .cardContent{
  opacity: 1;
  transform: translateY(0px);

}

.cardContent .sci li{
  transform: translateY(40px);
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  opacity: 0;
}
.teamCard:hover .sci li{
  transform: translateY(0px);
  opacity: 1;
  
}

