@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

html{
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

/* ---------------for navbar-------------- */
.nav-itemMobile {
  transition: opacity 2s, transform 1.5s; 
  transition-delay: calc( 0.1s * var(--i-nav));
  opacity: 0;
  transform: translateX(50px); /* Initial transform state */
}

.nav-itemMobile.is-visible {
  opacity: 1;
  transform: translateX(0); 
}

.nav-itemMobile.is-hidden {
  transition: none; /* Disable transition for instant reset */
  opacity: 0;
  transform: translateX(50px);
}
.close-itemMobile {
  transition: opacity 2s, transform 1.5s; 
  transition-delay: calc( 0.1s * var(--i-nav));
  opacity: 0;
  transform: translateY(-50px); /* Initial transform state */
}

.close-itemMobile.icon-is-visible {
  opacity: 1;
  transform: translateY(0); 
}
.close-itemMobile.icon-is-hidden {
  transition: none; /* Disable transition for instant reset */
  opacity: 0;
  transform: translateY(-50px);
}

@layer utilities {
  .nav-item {
    @apply transition-all ease-in-out duration-300 hover:scale-105 font-semibold hover:font-bold;
  }
  
  .maxWidthForSections{
    @apply 2xl:max-w-[1280px] xl:max-w-[1200px] mx-auto xl:px-0 px-[3vw] sm:px-[5vw]
  }
  .iconBoxes{
    @apply bg-white/65 backdrop-blur-sm rounded-sm sm:rounded-md sm:p-2 p-1 cursor-pointer transition-all text-darkBlue
  }
  .iconBoxes:hover{
    @apply bg-white/90 
  }
  .iconsFooter{
    @apply sm:size-7 size-6 text-darkBlue
  }
  .listFooter{
    @apply grid grid-cols-[50px_1fr] lg:gap-6 md:gap-4 sm:gap-2
  }
  .listHead{
    @apply text-white font-medium md:text-lg text-shadow-dark
  }
  .listPara{
    @apply text-white/90 font-thin md:text-base text-sm
  }
  .eventLinks{
    @apply text-white/90 cursor-pointer text-lg transition-all sm:text-left text-center
  }
  .eventLinks:hover{
    @apply text-pink-400 scale-[1.05]
  }
  .input-box{
    @apply bg-transparent border-b-[3px] border-white/80  rounded-sm   mt-1  w-full h-8 focus:border-white/80 focus:outline-none focus:bg-transparent text-sm sm:text-base
  }
  .input-div{
    @apply w-full
  }
  .text-shadow-light{
    text-shadow: 0.5px 0.5px #fff;
  }
  .text-shadow-dark{
    text-shadow: 1px 1px #00000080, -1px 0px #00000060;
  }
  
}

/* --------------for card animation ---------------- */
.cardContent{
  position: absolute;
  /* backdrop-filter: blur(10px); */
  opacity: 0.8;
  transition: 0.5s;
  transform: translateY(30px);
}
.teamCard:hover .cardContent{
  opacity: 1;
  transform: translateY(0px);

}

.cardContent .sci li{
  transform: translateY(40px);
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  opacity: 0;
}
.teamCard:hover .sci li{
  transform: translateY(0px);
  opacity: 1;
  
}


/* Custom scrollbar with updated track and thumb colors */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar (for horizontal scrollbars) */
}

::-webkit-scrollbar-track {
  padding: 0;
  background: #00092B; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #48279A; /* Color of the scrollbar thumb */
  border-radius: 100vw; /* Rounded corners for the thumb */
   /* Border around the thumb to match the track */
}




